{% extends 'base.html.twig' %} {% block title %} Hello EditProjetController! {% endblock %} {% block body %}
<div class="content-page-edit-projet">
    <div class="section-header">
        <h3>
            NOM DU PROJET
        </h3>
        <p>
            “La meilleure manière de prévoir le futur, c’est de le créer.”
        </p>
        <p>Peter Drucker</p>
        <div class="btn-tab-wrapper">
            <div class="btn-tab active" data-anim="1">
                Mon projet
            </div>
            <div class="btn-tab" data-anim="2">
                Mon équipe
            </div>
        </div>
    </div>
    {# PREMIER ONGLET #}
    <div class="tab-content my-project activeContenu" style="visibility: visible;" data-anim="1">
        <div class="left-container">
            <input type="text" placeholder="NOM DU PROJET" class="input">
            <select class="input" name="Secteur d’activité" id="sectors-list">
				<option value="" disabled selected hidden>Secteur d’activité</option>	
				<option value="">
						Secteur 1
					</option>
					<option value="">
						Secteur 2
					</option>
					<option value="">
						Secteur 3
					</option>
				</select>
            <ul>
                <li>
                    Culture x
                </li>
                <li>
                    Audio-visuel x
                </li>
            </ul>
            <select class="input" name="Localisation" id="Localisation">
				<option value="" disabled selected hidden>Localisation</option>	
					<option value="">
						Ville 1
					</option>
					<option value="">
						Ville 2
					</option>
					<option value="">
						Ville 3
					</option>
				</select>
            <ul>
                <li>
                    Bordeaux
                </li>

            </ul>
            <p>
                Es-tu accompagné.e par une structure ?
            </p>
            <div class="checkbox-wrapper">
                <div>
                    <input class="checkbox" type="checkbox" id="true">
                    <label for="true">
							Oui
						</label>
                </div>
                <div>
                    <input class="checkbox" type="checkbox" id="false">
                    <label for="false">
							Non
						</label>
                </div>
            </div>
        </div>
        <div class="right-container">
            <p>
                Photo ou logo
            </p>
            <span>
				Elle doit t’appartenir ou être libre de droit
			</span>
            <label id="img-upload" for="upload-photo">
            <img src="../img/youclothes.jpg" alt="image du projet">
		</label>
            <br>
            <input id="upload-photo" style="display: none;" type="file">
            <p class="choice-display">
                Ou
            </p>
            <input placeholder="Glisse le lien de ta vidéo de présentation" id="url-video" type="url">
        </div>
        <div class="left-container bottom-left">
            <p>
                Vision globale
            </p>
            <span>
					La vocation, l’objectif long terme du projet en 1/2 tweet
				</span>
            <textarea name="global-vision" id="global-vision" cols="30" rows="10"></textarea>
            <p>
                Elevator Pitch
            </p>
            <span>
				Le temps d’un trajet en ascenseur, explique brièvement ton projet <br>
				Motive tes futurs collaborateurs à te rejoindre.
				</span>
            <textarea name="elevator-pitch" id="elevator-pitch" cols="30" rows="10"></textarea>

        </div>
        <div class="right-container bottom-right">
            <select class="input" name="team-mood" id="team-mood">
				<option value="" disabled selected hidden>Mood de la team</option>	
					<option value="">
						Mood 1
					</option>
					<option value="">
						Mood 2
					</option>
					<option value="">
						Mood 3
					</option>
				</select>
            <select class="input" name="team-mood" id="team-mood">
				<option value="" disabled selected hidden>En recherche de</option>
					<option value="">
						recherche 1
					</option>
					<option value="">
						recherche 2
					</option>
					<option value="">
						recherche 3
					</option>
				</select>
            <ul>
                <li>
                    Q
                </li>
                <li>
                    Q
                </li>
                <li>
                    Q
                </li>
            </ul>
            <select class="input" name="project-assets" id="project-assets">
				<option value="" disabled selected hidden>En recherche de</option>
					<option value="">
						atout 1
					</option>
					<option value="">
						atout 2
					</option>
					<option value="">
						atout 3
					</option>
				</select>
            <ul>
                <li>
                    atout 1
                </li>
                <li>
                    atout 2
                </li>
                <li>
                    atout 3
                </li>
            </ul>
            <p>
                Ton projet est-il une avancée sociale, environnementale?
            </p>
            <div class="checkbox-wrapper">
                <div>
                    <input class="checkbox" type="checkbox" id="true">
                    <label for="true">
							Oui
					</label>
                </div>
                <div>
                    <input class="checkbox" type="checkbox" id="false">
                    <label for="false">
							Non
						</label>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <select class="input" name="phase actuelle" id="phases-list">
				<option value="" disabled selected hidden>La phase que tu réalises</option>
					<option value="">
						phase 1
					</option>
					<option value="">
						phase 2
					</option>
					<option value="">
						phase 3
					</option>
				</select>
            <div class="progress-bar-wrapper">
                <div class="progress-bar-container">
                    <div class="progress-bar-content"></div>
                </div>
                <span>
						Étude de marché
					</span>
                <span>
						Étude de besoins
					</span>
                <span>
						Validation du concept
					</span>
                <span>
						Rédaction du business plan
					</span>
                <span>
						Création d’un MVP
					</span>
                <span>
						Test utilisateurs
					</span>
                <span>
						Lancement sur le marché
					</span>
            </div>
        </div>
    </div>

    {# DEUXIEME ONGLET #}

    <div class="tab-content my-team" data-anim="2">
        <div class="member-wrapper">
            <div class="card-container">
                <div class="card-wrapper card1">

                    <div class="validated-teamate-card">
                        <img class="img-card" src="https://dummyimage.com/60x60/000/fff.png" alt="photo de profil">
                        <i class="icon edit click" id="card1"></i>
                        <h4>
                            Nom & Prénom
                        </h4>
                        <p>
                            Etudiant.e master International Marketing and Business development
                        </p>
                        <h4>
                            Statut
                        </h4>
                        <ul>
                            <li>
                                Compétence 1
                            </li>
                            <li>
                                Compétence 2
                            </li>
                            <li>
                                Compétence 3
                            </li>
                            <li>
                                Compétence 4
                            </li>
                            <li>
                                Compétence 5
                            </li>
                        </ul>
                    </div>
                    <div class="validated-teamate-card back ">
                        <i class="icon edit click" id="card1"></i>
                        <img class="img-card" src="https://dummyimage.com/60x60/000/fff.png" alt="photo de profil">
                        <h4>
                            Jean-Philipe Herbien
                        </h4>
                        <p>
                            Etudiant.e master International Marketing and Business development
                        </p>
                        <h4>
                            Statut
                        </h4>
                        <ul>
                            <li>
                                Compétence 1
                            </li>
                            <li>
                                Compétence 2
                            </li>
                            <li>
                                Compétence 3
                            </li>
                            <li>
                                Compétence 4
                            </li>
                            <li>
                                Compétence 5
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="form-card">
                <div class="header-card">
                    <img class="img-card" src="../img/caroline-CBD.png" alt="photo de profile">
                    <p>
                        NOM PRENOM
                    </p>
                    <h4>
                        Ses compétences sur le projet
                    </h4>
                    <select name="competences" id="comp">
							<option value="Compétence 1">
								Compétence 1
							</option>
							<option value="Compétence 2">
								Compétence 2
							</option>
							<option value="Compétence 3">
								Compétence 3
							</option>
						</select>
                    <a href="">
							Tu ne trouves pas les compétences dont tu as besoin
						</a>
                </div>
                <div class="body-card">
                    <p>
                        Type de collaboration établi
                    </p>
                    <select name="type de colaboration" id="colab">
							<option value="Associé.e">
								Associé.e
							</option>
							<option value="consultant">
								consultant
							</option>
							<option value="autre">
								autre
							</option>
						</select>
                </div>
            </div>


            <div class="validated-teamate-card" style="display: none;">
                <img class="img-card" src="../img/caroline-CBD.png" alt="photo de profil">
                <h4>
                    Nom & Prénom
                </h4>
                <p>
                    Etud / Alumnis + Niveau + Cursus
                </p>
                <ul>
                    <li>
                        Compétence 1
                    </li>
                    <li>
                        Compétence 2
                    </li>
                    <li>
                        Compétence 3
                    </li>
                    <li>
                        Compétence 4
                    </li>
                    <li>
                        Compétence 5
                    </li>
                </ul>
                <button>
						Actualiser
					</button>
            </div>
        </div>
        <div class="annonce-wrapper">
            <div class="resume-annonce">
                <div class="card-annonce">
                    <div class="header-card">
                        <img class="img-card" src="../img/caroline-CBD.png" alt="photo de profil">
                        <h4>
                            Community manager
                        </h4>
                    </div>
                    <div class="body-card">
                        <h4>
                            Associé
                        </h4>
                        <p>
                            Menthe à l’eau
                        </p>
                    </div>
                </div>
                <textarea name="resume de la collaboration" id="collab-description" cols="30" rows="10"></textarea>
                <button>
						Actualiser
					</button>
            </div>
            <div class="resume-annonce" style="display: none;">
                <div class="card-annonce">
                    <div class="header-card">
                        <img class="img-card" src="../img/caroline-CBD.png" alt="photo de profil">
                        <h4>
                            Community manager
                        </h4>
                    </div>
                    <div class="body-card">
                        <h4>
                            Associé
                        </h4>
                        <p>
                            Menthe à l’eau
                        </p>
                    </div>
                </div>
                <textarea name="resume de la collaboration" id="collab-description" cols="30" rows="10"></textarea>
                <button>
						Actualiser
					</button>
            </div>
        </div>
    </div>
    <button class="validation-btn">
		Valider ces infos
	</button>
</div>
{% endblock %}