{% extends 'home/index.html.twig' %}

{% block body %}{% endblock %}

{% block promo %}{% endblock %}

{% block Projets_display %}

    <div class="liste-projets">
        <h3>
            Les projets faits pour toi !
        </h3>
        <div class="carousel">
            <div class="carousel__element">
                <div class="card">
                    <div class="card-image"></div>

                    <div class="card-text">
                        <h3>
                            You Clothes
                        </h3>
                        <p>
                            Environnement - Technologie
                        </p>
                        <p>
                            Une application pour permettre aux gens de scanner les habits et pouvoir s’habiller de manière écologique.
                        </p>
                    </div>
                    <div class="card-infos">
                        <h4>
                            Etude de besoins
                        </h4>
                        <span>
                            Q
                        </span>
                        <span>
                            Q
                        </span>
                        <div class="card-list">
                            <p>
                                Associé - Community manager
                            </p>
                            <p>
                                Associé - Graphiste
                            </p>
                            <p>
                                Préstataire - Expert en référencement
                            </p>
                        </div>
                        <div class="card-footer">
                            <span class="info">
                                Monaco
                            </span>
                            <span>
                                <img class="profil-mini" src="../img/caroline-CBD.png" alt="image de profil" />
                            </span>
                            <span class="info">
                                Actif
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel__element">
                <div class="card">
                    <div class="card-image"></div>

                    <div class="card-text">
                        <h3>
                            You Clothes
                        </h3>
                        <p>
                            Environnement - Technologie
                        </p>
                        <p>
                            Une application pour permettre aux gens de scanner les habits et pouvoir s’habiller de manière écologique.
                        </p>
                    </div>
                    <div class="card-infos">
                        <h4>
                            Etude de besoins
                        </h4>
                        <span>
                            Q
                        </span>
                        <span>
                            Q
                        </span>
                        <div class="card-list">
                            <p>
                                Associé - Community manager
                            </p>
                            <p>
                                Associé - Graphiste
                            </p>
                            <p>
                                Préstataire - Expert en référencement
                            </p>
                        </div>
                        <div class="card-footer">
                            <span class="info">
                                Monaco
                            </span>
                            <span>
                                <img class="profil-mini" src="../img/caroline-CBD.png" alt="image de profil" />
                            </span>
                            <span class="info">
                                Actif
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel__element">
                <div class="card">
                    <div class="card-image"></div>

                    <div class="card-text">
                        <h3>
                            You Clothes
                        </h3>
                        <p>
                            Environnement - Technologie
                        </p>
                        <p>
                            Une application pour permettre aux gens de scanner les habits et pouvoir s’habiller de manière écologique.
                        </p>
                    </div>
                    <div class="card-infos">
                        <h4>
                            Etude de besoins
                        </h4>
                        <span>
                            Q
                        </span>
                        <span>
                            Q
                        </span>
                        <div class="card-list">
                            <p>
                                Associé - Community manager
                            </p>
                            <p>
                                Associé - Graphiste
                            </p>
                            <p>
                                Préstataire - Expert en référencement
                            </p>
                        </div>
                        <div class="card-footer">
                            <span class="info">
                                Monaco
                            </span>
                            <span>
                                <img class="profil-mini" src="../img/caroline-CBD.png" alt="image de profil" />
                            </span>
                            <span class="info">
                                Actif
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel__element">
                <div class="card">
                    <div class="card-image"></div>

                    <div class="card-text">
                        <h3>
                            You Clothes
                        </h3>
                        <p>
                            Environnement - Technologie
                        </p>
                        <p>
                            Une application pour permettre aux gens de scanner les habits et pouvoir s’habiller de manière écologique.
                        </p>
                    </div>
                    <div class="card-infos">
                        <h4>
                            Etude de besoins
                        </h4>
                        <span>
                            Q
                        </span>
                        <span>
                            Q
                        </span>
                        <div class="card-list">
                            <p>
                                Associé - Community manager
                            </p>
                            <p>
                                Associé - Graphiste
                            </p>
                            <p>
                                Préstataire - Expert en référencement
                            </p>
                        </div>
                        <div class="card-footer">
                            <span class="info">
                                Monaco
                            </span>
                            <span>
                                <img class="profil-mini" src="../img/caroline-CBD.png" alt="image de profil" />
                            </span>
                            <span class="info">
                                Actif
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block citations %}{% endblock %}

{% block inscription %}{% endblock %}

{% block footer %}
    <footer>
        <h3>
            Stud'up
                        
                        
                        		
                    
        </h3>
        <p>
            Booster de compétences étudiantes
                        
                        
                        		
                    
        </p>
        <div class="retour-user">
            <h4>
                Bientôt la V2 !
                                
                                
                                			
                            
            </h4>
            <p>
                Des retours,  idées de génies ?
                                
                                
                                			
                            
            </p>
            <input type="text">
                <button>
                    Envoyer
                                        
                                        
                                        			
                                    
                </button>
            </div>
            <div class="contactes">
                <a href="">
                    FAQ
                                        
                                        
                                        			
                                    
                </a>
                <a href="">
                    <button>
                        L'équipe Stud'up
                                                
                                                
                                                				
                                            
                    </button>
                </a>
                <a href="">
                    Nous contacter
                                        
                                        
                                        			
                                    
                </a>
            </div>
            <div class="citation">
                <h4>
                    “Seuls, ceux qui sont assez fous pour penser qu’ils peuvent changer le monde, y parviennent !”
                                        			
                                    
                </h4>
                <p>
                    Steve Jobs
                                        			
                                    
                </p>
            </div>
        </footer>

    {% endblock %}
    