{% extends 'base.html.twig' %}

{% block title 'Stud\'Up!' %}

{% block body %}
        <h1>Stud'Up</h1>
        <h2>La Plateforme de Valorisation de Projets Étudiants.</h2>
       <button class="team_btn">L'équipe Stud'Up</button>
       <p class="home_tag_line">Hier étudiant.e.s, <br> aujourd’hui entrepreuneur.e.s.</p>
    </div>
{% endblock %}

{% block Projets_display %}

    <h3>Les projets visibles sur Stud'Up :</h3>
    <article>
        <div class="head_articleProjet" >
            <div class="article_nav">
               <p>membres projet</p>
               <p>messagerie</p>
               <p>favoris</p>
               <p>Nom du projet</p>
            </div>
            <p>Description</p>
            <p>phase : </p>
            <p>Logo Projet</p>
        </div>
        <div class="Body_article">
            <p>image_écoles</p>
            <p><i>Tag line </i><p>
            <div class="actula_strugle">
                <h2>Problèmatiques Actuelles :  </h2>
                <ul>
                    <li>- Developpement d’une V1</li>
                    <li>- Définir les fonctionnalités</li>
                    <li>- Tests utilisateurs</li>
                </ul>
            </div>
            <div class="seeked_comp">
                <h2>Compétences Recherchées: </h2>
                <ul>
                    <li>- Community Manager</li>
                    <li>- Avocat </li>
                    <li>- Juriste</li>
                </ul>
            </div>
        </div>
    </article>
{% endblock %}