{% extends 'base.html.twig' %}

{% block title 'Stud\'Up!' %}

{% block body %}
    <div class="container">
        <h1>Stud'Up</h1>
        <h3>La Plateforme de Valorisation de projets étudiants.</h3>
       <button class="team_btn">L'équipe Stud'Up</button>
       <p class="home_tag_line">Hier étudiant.e.s, <br> aujourd’hui entrepreuneur.e.s.</p>
    </div>
{% endblock %}

