{% extends 'base.html.twig' %} {% block title %} Hello DirectoryController! {% endblock %} {% block body %}

<div class="content-directory">
    <h2>
        Explore le champs des possibles
    </h2>
    <span>
            Entreprend ! Trouve les collaborateurs.ices idéal.e.s
    </span>
    <aside class="filters">
        <div class="filter">
            <input type="checkbox" name="toggle-searched-comp" id="toggle-searched-comp" checked>
            <label for="toggle-searched-comp">
                <h3>
                    COMPÉTENCES RECHERCHÉES 
                </h3>
            </label>
            <div id="expand-searched-comp" class="filter-wrapper">
                <div class="inline-filter">
                    <input type="checkbox" name="label-1" id="label-1">
                    <label for="label-1">
                        label-1
                    </label>
                </div>
                <div class="inline-filter">
                    <input type="checkbox" name="label-2" id="label-2">
                    <label for="label-2">
                        label-2
                    </label>
                </div>
                <div class="inline-filter">
                    <input type="checkbox" name="label-3" id="label-3">
                    <label for="label-3">
                        label-3
                    </label>
                </div>
            </div>
        </div>
        <div class="filter">

            <input type="checkbox" name="toggle-mission-types" id="toggle-mission-types">
            <label for="toggle-mission-types">
                <h3>
                    TYPES DE MISSIONS
                </h3>
            </label>
            <div id="expand-mission-types" class="filter-wrapper">
                <div class="inline-filter">
                    <input type="checkbox" name="label-1" id="label-1">
                    <label for="label-1">
                        label-1
                    </label>
                </div>
                <div class="inline-filter">
                    <input type="checkbox" name="label-2" id="label-2">
                    <label for="label-2">
                        label-2
                    </label>
                </div>
                <div class="inline-filter">
                    <input type="checkbox" name="label-3" id="label-3">
                    <label for="label-3">
                        label-3
                    </label>
                </div>
            </div>
        </div>
        <div class="filter">

            <input type="checkbox" name="toggle-sectors" id="toggle-sectors">
            <label for="toggle-sectors">
                <h3>
                    SECTEURS D’ACTIVITÉS 
                </h3>
            </label>
            <div id="expand-sectors" class="filter-wrapper">
                <div class="inline-filter">
                    <input type="checkbox" name="label-1" id="label-1">
                    <label for="label-1">
                        label-1
                    </label>
                </div>
                <div class="inline-filter">
                    <input type="checkbox" name="label-2" id="label-2">
                    <label for="label-2">
                        label-2
                    </label>
                </div>
                <div class="inline-filter">
                    <input type="checkbox" name="label-3" id="label-3">
                    <label for="label-3">
                        label-3
                    </label>
                </div>
            </div>
        </div>
        <div class="filter">

            <input type="checkbox" name="toggle-locals" id="toggle-locals">
            <label for="toggle-locals">
                <h3>
                    LOCALISATIONS
                </h3>
            </label>
            <div id="expand-locals" class="filter-wrapper">
                <div class="inline-filter">
                    <input type="checkbox" name="label-1" id="label-1">
                    <label for="label-1">
                        label-1
                    </label>
                </div>
                <div class="inline-filter">
                    <input type="checkbox" name="label-2" id="label-2">
                    <label for="label-2">
                        label-2
                    </label>
                </div>
                <div class="inline-filter">
                    <input type="checkbox" name="label-3" id="label-3">
                    <label for="label-3">
                        label-3
                    </label>
                </div>
            </div>
        </div>
    </aside>
    <div class="project-wrapper">

        <div class="card">
            <div class="card-image"></div>

            <div class="card-text">
                <h3>
                    You Clothes
                </h3>
                <p>
                    Environnement - Technologie
                </p>
                <p>
                    Une application pour permettre aux gens de scanner les habits et pouvoir s’habiller de manière écologique.
                </p>
            </div>
            <div class="card-infos">
                <h4>
                    Etude de besoins
                </h4>
                <span>
                    Q
                </span>
                <span>
                    Q
                </span>
                <div class="card-list">
                    <p>
                        Associé - Community manager
                    </p>
                    <p>
                        Associé - Graphiste
                    </p>
                    <p>
                        Préstataire - Expert en référencement
                    </p>
                </div>
                <div class="card-footer">
                    <span class="info">
                        Monaco
                    </span>
                    <span>
                        <img class="profil-mini" src="../img/caroline-CBD.png" alt="image de profil" />
                    </span>
                    <span class="info">
                        Actif
                    </span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image"></div>

            <div class="card-text">
                <h3>
                    You Clothes
                </h3>
                <p>
                    Environnement - Technologie
                </p>
                <p>
                    Une application pour permettre aux gens de scanner les habits et pouvoir s’habiller de manière écologique.
                </p>
            </div>
            <div class="card-infos">
                <h4>
                    Etude de besoins
                </h4>
                <span>
                    Q
                </span>
                <span>
                    Q
                </span>
                <div class="card-list">
                    <p>
                        Associé - Community manager
                    </p>
                    <p>
                        Associé - Graphiste
                    </p>
                    <p>
                        Préstataire - Expert en référencement
                    </p>
                </div>
                <div class="card-footer">
                    <span class="info">
                        Monaco
                    </span>
                    <span>
                        <img class="profil-mini" src="../img/caroline-CBD.png" alt="image de profil" />
                    </span>
                    <span class="info">
                        Actif
                    </span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image"></div>

            <div class="card-text">
                <h3>
                    You Clothes
                </h3>
                <p>
                    Environnement - Technologie
                </p>
                <p>
                    Une application pour permettre aux gens de scanner les habits et pouvoir s’habiller de manière écologique.
                </p>
            </div>
            <div class="card-infos">
                <h4>
                    Etude de besoins
                </h4>
                <span>
                    Q
                </span>
                <span>
                    Q
                </span>
                <div class="card-list">
                    <p>
                        Associé - Community manager
                    </p>
                    <p>
                        Associé - Graphiste
                    </p>
                    <p>
                        Préstataire - Expert en référencement
                    </p>
                </div>
                <div class="card-footer">
                    <span class="info">
                        Monaco
                    </span>
                    <span>
                        <img class="profil-mini" src="../img/caroline-CBD.png" alt="image de profil" />
                    </span>
                    <span class="info">
                        Actif
                    </span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image"></div>

            <div class="card-text">
                <h3>
                    You Clothes
                </h3>
                <p>
                    Environnement - Technologie
                </p>
                <p>
                    Une application pour permettre aux gens de scanner les habits et pouvoir s’habiller de manière écologique.
                </p>
            </div>
            <div class="card-infos">
                <h4>
                    Etude de besoins
                </h4>
                <span>
                    Q
                </span>
                <span>
                    Q
                </span>
                <div class="card-list">
                    <p>
                        Associé - Community manager
                    </p>
                    <p>
                        Associé - Graphiste
                    </p>
                    <p>
                        Préstataire - Expert en référencement
                    </p>
                </div>
                <div class="card-footer">
                    <span class="info">
                        Monaco
                    </span>
                    <span>
                        <img class="profil-mini" src="../img/caroline-CBD.png" alt="image de profil" />
                    </span>
                    <span class="info">
                        Actif
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{{ include('/home/_projets_display_block.html.twig') }} {% endblock %}