$color_head: #fff;
$bg_nav: #fff;
$text_color_nav: rgba(0, 0, 0, 0.6);
$home_bg_color: rgba(218, 207, 227, 0.6);
$grey_title: #4C4C4C;
$main_title_color: #5F3E79;
$max: 100%;

.navigation {
    background-color: $bg_nav;
    position: absolute;
    width:  $max;
    height: 91px;
    left: 0px;
    top: 0px;
    display: inline-block;
    .logo{
        margin-left: 1%;
        width: 129px;
        height: 90px;
    }
    .nav_elements{
        width: 33%;
        display: inline-block;
        position: absolute;
        margin: 2%;
        margin-left: 30%;
        .nav_item{
            margin: 5%;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            color: $text_color_nav;
            display: inline;
        }
    }
    .search {
        float: right;
        width: 20%;
        margin: 2%;
    }
}

a {
    color: inherit;
    text-decoration: inherit;

}

body {
    margin: 0 auto;
    width: $max;
}


main {
    margin: 0;
    background: $home_bg_color;
    width: $max;
    h1{
        color: $main_title_color;
        font-family: 'Anton', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
    }
    h2{
        color: $main_title_color;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
    }
    .home_tag_line{
        color: $main_title_color;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
    }
}

.team_btn {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    display: inline-block;

}

.container{
    margin: 0;
    width: 80%;
    padding: 10%;
}

section {
    width: $max;
    h3 {
            color: $grey_title;
            font-family: 'Anton', sans-serif;
            font-size: 24px;
    }

}